<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564577646934-l36s1eu3va3n07j7o09q1qgcha7l907t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564577646934-l36s1eu3va3n07j7o09q1qgcha7l907t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>564577646934-g8a3t5g6mmvgj1p28f5v635lr312irss.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAd7q6WeZ7lEM7zeM0GWQVYlH1vj-WGnLk</string>
	<key>GCM_SENDER_ID</key>
	<string>564577646934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lasbontech.skripjatim</string>
	<key>PROJECT_ID</key>
	<string>skrip-a2aec</string>
	<key>STORAGE_BUCKET</key>
	<string>skrip-a2aec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564577646934:ios:38a666d2b3defb17197ef7</string>
</dict>
</plist>